[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gunicorn = "==19.9"
whitenoise = "==4.1.2"
ibmcloudenv = "*"
livereload = "*"
django-crispy-forms = "*"
djangorestframework = "*"
Django = "==2.2"
django-import-export = "*"

[requires]
python_version = "3.7"
