{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "allen.kedger@mail.com",
      "Space": "dev"
    },
    "Name": "Pastebin",
    "Instrumentation": {
      "services": [
        "availability-monitoring-auto"
      ]
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}